<table>
  <tr>
    <td>Name:</td>
    <td>
      <input [(ngModel)]="person.name" placeholder="name"/>
    </td>
  </tr>
  <tr>
    <td>Age:</td>
    <td>
      <input [(ngModel)]="person.age" placeholder="age">
    </td>
  </tr>
  <tr>
    <td>Address:</td>
    <td>
      <input [(ngModel)]="person.address" placeholder="address">
    </td>
  </tr>
  <tr>
    <td>Phone Number:</td>
    <td>
      <input [(ngModel)]="person.phoneNumber" placeholder="phoneNumber">
    </td>
  </tr>
</table>
<button (click)="save()">Save</button>