<div>
  <table mat-table [dataSource]="persons" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let person" (click)="onSelect(person)">{{person.name}}</td>
      </ng-container>
      <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef>Age</th>
          <td mat-cell *matCellDef="let person">{{person.age}}</td>
      </ng-container>
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let person">{{person.address}}</td>
    </ng-container>
      <ng-container matColumnDef="phoneNumber">
          <th mat-header-cell *matHeaderCellDef>Phone #</th>
          <td mat-cell *matCellDef="let person">{{person.phoneNumber}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="personColumns"></tr>
      <tr mat-row *matRowDef="let person; columns: personColumns"></tr>
  </table>
  <app-add-person></app-add-person>
</div>